* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins";
    font-size: 12px;
    letter-spacing: 0.5px;
    color: var(--dark-blue);
}

:root {
    --grey: rgb(134,134,134);
    --blue: rgb(8, 160, 247);
    --red: rgb(236, 82, 82);
    --blue-bg: rgba(134, 176, 250, 0.15);
    --dark-blue: #022e47;
    --green: rgb(52, 167, 112);
    --yellow: rgb(251, 166, 60);
    --dark-grey: rgb(46, 45, 45);
}

/* COMMON ELEMENTS */
.page-container {
    padding: 30px;
}

a {
    text-decoration: none;
}

.h1-title {
    margin: 0;
    font-size: 2rem;
    color: var(--dark-blue);
    font-weight: 600;
}

.h2-title {
    margin: 0;
    font-size: 1.5rem;
    color: var(--dark-blue);
    font-weight: 600;
}

.h3-title {
    margin: 0;
    font-size: 1.1rem;
    color: var(--dark-blue);
    font-weight: 500;
}

.h4-title,
#search-bar::placeholder {
    font-weight: 500;
    color: rgba(151, 153, 156, 0.6);
    margin: 0;
    font-size: 0.8rem;
}

.h5-title {
    font-weight: 400;
    margin: 0;
    font-size: 1rem;
}

/* Flex */
#search-container,
#navbar-container,
#profile-container,
.progress-stats,
.progress-bar,
#task,
#task-deadline,
#important-tasks,
#today-tasks-title,
#todays-task--container,
#single-task--container,
#todays-task--descriptions,
#section-title,
.button-container,
#single-task--title,
#task-searched,
#btn--container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.page-container,
#daily-progress--container,
.add-button,
#progress-container,
#important-task--container,
#todays-tasks--container,
#todays-task--info,
#single-task--info
#form-container,
#bin-container,
#delete-task--container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* HOME */
/* Navbar */
#navbar-container {
    width: 100%;
    height: 70px;
    border-radius: 0px 0px 10px 10px;
    box-shadow:  6px 6px 11px rgba(0, 0, 0, 0.05);
    padding: 10px;
    justify-content: space-between;
    position: absolute;
    z-index: 10;
    background-color: white;
}

#search-container {
    height: 40px;
    border-radius: 25px;
    background-color: var(--blue-bg);
    width: 60%;
}

#search-bar {
    color: var(--dark-grey);
    font-weight: 500;
    font-size: 0.8rem;
    border: none;
    background-color: transparent;
    height: 25px;
    margin-left: 5px;
    font-family: "Poppins";
}

#search-bar:focus {
   outline: none;
   caret-color: var(--dark-grey);
}

#search-container > h4 {
    margin-left: 20px;
}

#search-icon {
    margin-left: 18px;
    opacity: 0.7
}

#profile-pic {
    background-color: var(--blue);
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

#notification-container {
    width: 20px;
    height: 20px;
    margin-left: 17px;
    margin-right: 8px;
}

#notification-notifier {
    width: 9px;
    height: 9px;
    background-color: var(--red);
    position: relative;
    border-radius: 50%;
    box-shadow: -2px 2px 4px rgba(255, 255, 255, 0.7);
    transform: translate(11.5px, -25px);
}

/* Search Results */
#search-results--container {
    z-index: 9;
    position: absolute;
    background-color: white;
    width: 100%;
    padding: 70px 10px 0 10px;
    box-shadow: -3px 3px 8px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

#task-searched {
    padding: 15px;
}

#task-searched > h3 {
    margin-left: 10px;
    margin-right: 15px;
}

/* Progress Bar */
#progress-container {
    width: 100%;
    margin-top: 80px;
    justify-content: center;
}

#daily-progress--container {
    background-color: rgba(8, 160, 247, 0.7);
    border-radius: 15px;
    height: 210px;
    width: 100%;
    padding-top: 25px;
}

#daily-progress--container > h3 {
    margin-top: 0;
    font-size: 1.1rem;
    color: white;
    font-weight: 500;
    margin-bottom: 20px
}

.progress-bar,
.progress-left {
    border-radius: 10px;
}

.progress-stats {
    width: 70%;
    margin-bottom: 25px;
    justify-content: space-between;
}

.progress-stats > h6 {
    color: white;
    margin: 0;
    font-size: 1rem;
    font-weight: 300;
}

.progress-bar {
    background-color: rgba(255, 255, 255, 0.3);
    height: 10px;
    width: 80%;
}

.progress-left {
    background-color: white;
    height: 100%;
    width: 30%;
}

.white-button {
    width: 75%;
    height: 40px;
    background-color: white;
    border-radius: 10px;
    color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 0.9rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.white-button:hover {
    border: 1.5px white solid;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.add-button {
    position: relative;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: white;
    color: var(--blue);
    justify-content: center;
    font-size: 2.8rem;
    font-weight: 500;
    bottom: 30px;
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

/* Important Tasks */
#important-tasks--container {
    align-self: flex-start;
    width: 100%;
}

#important-task--container {
    width: 250px;
    height: 200px;
    border: var(--red) 2px solid;
    border-radius: 10px;
    padding: 15px 10px 15px 10px;
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    margin-right: 20px;
    flex-shrink: 0;
    align-items: flex-start;
}

#task {
    justify-content: space-between;
    width: 100%;
}

#task-info {
    width: 80%;
}

#task-info > h5 {
    font-size: 1.4rem;
    margin: 0;
    font-weight: 500;
    color: var(--red);
}

#task-deadline {
    width: 100%;
    justify-content: space-between;
}

#task-deadline > p,
.task-date {
    margin: 0;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#task-deadline > p {
    height: 40px;
    width: 50%;
    background-color: rgba(236, 82, 82, 0.2);
    color: var(--red);
}

#important-tasks {
    display: flex;
    flex-direction: row;
    overflow-y: hidden;
    overflow-x: auto;
    text-overflow: ellipsis;
}

#important-tasks--container > h2 {
    margin-bottom: 15px;
}

/* Today's Tasks */
#today-tasks-title {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
}

#todays-tasks--container {
    width: 100%;
    align-items: flex-start;
    margin-top: 25px;
}

#todays-task--container {
    height: 80px;
}

#todays-task--container,
#single-task--container {
    border-radius: 10px;
    width: 100%;
    padding: 10px 20px 10px 20px;
    justify-content: space-between;
    box-shadow: 9px 9px 18px rgba(184, 184, 184, 0.2),
            -2px -2px 20px rgba(184, 184, 184, 0.2);
} 

.category-img--container {
    width: 45px;
    height: 45px;
    background-color: var(--blue-bg);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#todays-task--info > h3,
#todays-task--info > h4,
#single-task--info > h3,
#single-task--info > h4 {
    margin: 0;
}

#todays-task--info,
#single-task--info {
    align-items: flex-start;
    margin-left: 20px;
}

.task-status-bg {
    background-color: var(--blue-bg);
    width: 30px;
    height: 30px;
    border-radius: 50%;
}


/* ADD TASK */
@keyframes slideIn {
    from {
        top: -5%;
    }

    to {
        top: 4%;
    }
}

@keyframes slideOut {
    from {
        top: 4%;
    }

    to {
        top: -5%;
    }
}

#form-message {
    position: fixed;
    top: 4%; 
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    width: 80%;
    background-color: var(--blue);
    text-align: center;
    font-size: 1rem;
    color: var(--dark-blue);
    font-weight: 500;
    box-shadow:  3px 3px 11px rgba(0, 0, 0, 0.2);
    animation: slideIn 1s ease-in, slideOut 1s ease-out 3s;
    padding: 15px 20px 15px 20px;
}

#subpages-container {
    padding: 40px 20px 40px 20px;
}

#section-title {
    margin-bottom: 40px;
}

.go-back-button {
    height: 50px;
    width: 50px;
    background-color: var(--blue-bg);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: var(--grey);
    font-size: 2.3rem;
    font-weight: 300;
    margin: 0;
}

#section-title .go-back-button {
    margin-right: 25px;
}

#form-container {
    align-items: flex-start;
    width: 100%;
}

.input-box {
    padding: 20px;
}

.input-box:focus {
    border: rgba(134, 134, 134, 0.3) 1.5px solid;
}

.input-box::placeholder {
    color: rgba(134, 134, 134, 0.5);
}

#form-container > label,
#form-container > h1 {
    margin-bottom: 10px;
}  

#form-container > div > button {
    margin-right: 10px;
}

.blue-button {
    color: white;
    border-radius: 20px;
    height: 55px;
    width: 120px;
    font-family: "Poppins";
    font-size: 1rem;
    font-weight: 500;
    background-color: var(--blue);
    border: none;
}

.active-blue-button,
.blue-button:hover {
    cursor: pointer;
    color: var(--blue);
    border: var(--blue) 1.5px solid;
    background-color: white;
}

.input-box,
.select-input,
.textarea-input {
    width: 100%;
    border-radius: 15px;
    border: rgba(134, 134, 134, 0.3) 1.5px solid;
    color: var(--dark-blue);
    font-family: "Poppins";
    height: 55px;
    font-size: 1.2rem;
}

.select-input {
    padding-left: 20px;
}

#date-input--container {
    width: 100%;
}

.smaller-input {
    width: 23%;
}

.small-input {
    width: 28%
}

.medium-input {
    width: 44%;
    margin-left: 2%;
    margin-right: 2%;
}

.textarea-input {
    height: 130px;
    padding: 15px;
}

#form-container > button {
    width: 100%;
}


/* ALL TASKS */
#single-task--info {
    width: 80%;
}

#single-task--container {
    padding-top: 15px;
    margin-bottom: 20px;
}

#single-task--title {
    margin-bottom: -10px;
}

#single-task--title > a {
    margin-left: 20px;
    margin-right: 10px;
    color: var(--dark-blue);
}

.task-date {
    margin: 15px 0 10px 0;
    height: 30px;
    width: 110px;
}

@keyframes rotateCover {
    to {
        transform: rotate(-12deg);
    }
}

#bin-container {
    height: 21px;
}

#bin-cover {
    transform-origin: 0% 50%;
}

#bin-container:hover {
    cursor: pointer;
}

#bin-container:hover #bin-cover {
    animation: rotateCover 0.3s ease-in-out forwards;
}


/* DELETE TASK */
#delete-task--container {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    background-color: rgba(236, 82, 82, 1);
    width: 85%;
    height: 250px;
    border-radius: 10px;
    padding: 20px;
    justify-content: center;
    text-align: center;
    color: white;
}

#delete-task--container > h3 {
    color: white;
}

.red-button {
    background-color: white;
    color: var(--red);
    font-family: "Poppins";
    border-radius: 10px;
    margin: 20px 10px 5px 10px;
    border: none;
    height: 40px;
    width: 140px;
    font-weight: 600;
    font-size: 1rem;
}

.red-button:hover {
    cursor: pointer;
    background-color: transparent;
    border: white 1.5px solid;
    color: white
}


/* CHECK TASK */
#check-buttons--container {
    position: relative;
    width: 30px;
    height: 30px;
}

.check-button {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.opacity-0 {
    opacity: 0;
}

.opacity-1 {
    opacity: 1;
}

.check-button:hover {
    cursor: pointer;
}

.hover.check-button:hover {
    opacity: 0.2;
}